/** Nơi viết/include các css riêng **/
body{
	color: #5a5a5a;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 15px;
}
h1,h2,h3,h4,h5{
    font-family: 'Montserrat', sans-serif;
}
a, a:hover, .btn{
	outline:none!important;
}
.btn-search{
	background: #FD3A13; 
	border-color: #FD3A13; 
	color: #fff; 
	padding: 7px 10px;
	:hover{
		background: #ca1b1b;
		border-color: #ca1b1b;
	}
}
.card{
	float: left; 
	width:100%;
}
/*small-top*/
.small-top {
	border-bottom: 1px solid #2b2b2b;
    float: left;
    width: 100%;
    background: #000;
    .date-sec{
    	font-size: 13px;
	    font-weight: 600;
	    float: left;
	    margin-top: 4px;
	    color: #898989;
    }
    .offset-5{
    	margin-left: 41.666667%;
    	.social-icon{
	    	float: right;
	    	a{
	    		border-left: 1px solid #2b2b2b;
			    color: #ca1b1b;
			    float: left;
			    padding: 6px 13px; 
			    &:hover{
			    	color:#FD3A13; 
			    	text-decoration: none;
			    }
	    	}
	    }
    }
}

/*top-head*/
.top-head{
	background: #141517;
    width: 100%;
    float: left;
    height: 100px;
    h1{
    	color: #fff;
	    font-size: 36px;
	    font-weight: 600;
	    margin: 18px 0 0;
    }
    small{
    	float: left;
	    width: 100%;
	    font-size: 14px;
	    color: #c0c0c0;
	    margin-top: 5px;
	    margin-left: 5px;
    }
    .admin-bar{
    	text-align: right;
    	margin-top: 22px;
    	a{
    		color: #fff;
		    line-height: 49px;
		    position: relative;
		    padding: 0 7px;
		    &:hover{
		    	color: #ff0000;
		    }
		    i{
		    	margin-right: 6px;
		    }
    	}
    	.ping{
    		background: #ff0000;
		    border: 3px solid #141517;
		    border-radius: 50%;
		    height: 14px;
		    position: absolute;
		    right: 3px;
		    top: 13px;
		    width: 14px;
		    z-index: 1;
    	}
    	img{
    		float: right;
		    height: 50px;
		    width: 50px;
		    margin-left: 18px;
    	}
    }
}
.top-nav{
	background: #fff;
    padding: 0;
    border-bottom: 1px solid #dbdbdb;
    .nav-link{
    	padding-bottom: 0.7rem; 
    	padding-top: 0.7rem;
    }
    .navbar-nav .nav-item + .nav-item{
		margin-left:0;
    }
    li a{
    	color: #141517; 
    	text-transform: 
    	uppercase; font-size: 14px; 
    	font-weight: 700; 
    	padding: 0 10px; 
    	border-bottom: 2px solid #fff;
    	&:hover, &:focus{
    		color: #141517; 
    		border-bottom: 2px solid #FD3A13;
    	}
    }
    li.active a{
    	color: #141517; 
    	border-bottom: 2px solid #FD3A13;
    }
    .form-control{
    	border-color: #fff;
    }
    .btn{
    	position: absolute;right: 0;top: -3px;border-radius:3px;
    }
}

.navbar {
    border: medium none;
    float: left;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.navbar-toggle{
	background: #fff;
	.icon-bar{
		background:#0A2E61;
	}
}
.navbar-brand{display: none;}
.title-large {
	font-size: 20px; 
	margin: 10px 0 5px; 
	line-height: 27px; 
	color: #141517;
	a{
		color: inherit;
	}
}
.title-small {
 	color: #141517; 
 	font-size: 16px; 
 	font-weight: 400; 
 	line-height: 23px; 
	margin: 6px 0 0;
	a{
		color: inherit;
	}
}
.title-x-small {
	font-size: 18px; 
	margin: 0px;
	a{
		color: inherit;
	}
}
.banner-sec{
	float: left; 
	width: 100%; 
	background: #EBEBEB;
	.card-img-overlay{
		padding: 0; top: 3px; left: 7px; height: 20%
	}
	.news-block{
		margin-bottom: 20px;
		:last-child{margin-bottom: 0px;}
	}
	.news-des {margin-bottom: 5px;}
	.title-large{margin: 18px 0 0;}
	.time{margin-top: 0px; font-size: 13px;}
	.card{margin-bottom:20px;}
	.carousel-control{
		.left, .right {
			background: none;
		}
	}
}
.card-block{padding:0 10px 10px;}
.card-text{margin: 0}
.text-time{color: #ff0000; font-weight: 600;}
header{float: left; width:100%}
.top-slider .carousel-indicators{
	bottom: 0
	li{
		border:1px solid #000;
	}
	.active{background:#000;}
}
.side-bar .nav-tabs{
	border-bottom:none;
	.nav-link {
		color: #aeaeae; text-transform: uppercase; border: none;
		.active, &:hover{
			border-bottom:2px solid #ff0000;  text-transform: uppercase; color: #222;
		}
	}
}
.sidebar-tabing{
	.media{margin-top: 20px;}
	img{width: 120px;height: 100px;}
	.title-small {line-height: 23px; margin-top: 5px; font-size: 18px;}
} 
#search {float: right; margin-top: 9px; width: 250px;}
.search {
	padding: 5px 0; width: 230px; height: 30px; position: relative; left: 10px; float: left; line-height: 22px;
	input {
		background: #d0d0d0; 
		border: medium none; 
		border-radius: 3px 0 0 3px; 
		float: left; height: 36px; 
		line-height: 18px; 
		margin-left: 210px; 
		padding: 0 9px; 
		position: absolute; 
		top: -3px; 
		width: 0; 
		-webkit-transition: all 0.7s ease-in-out; 
		-moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;}
	&:hover input, input:focus{
		width: 200px; margin-left: 0px; background: #d0d0d0;
	}
}
.section-01{
	float: left; width: 100%;  border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5;
	.heading-large {
		border-bottom: 2px solid #222; color: #222; float: left; width: 100%; padding:0 0 6px; margin:0 0 18px; text-align: left;
		::before, ::after{background: transparent;}
	}
	.heading-small {border-bottom: 2px solid #222; color: #222; float: left; margin: 7px 0 0; width: 100%; padding-bottom: 10px; font-size: 18px;}
	.title-small {margin-bottom: 5px; font-size:17px;}
	.news-block{border-bottom: 1px dashed #000; padding-bottom: 30px; border: none;}
	aside > .news-block {
		border-bottom: 1px dashed #000; padding-bottom: 19px;
		:last-child{border-bottom: none; margin-bottom: 20px;}
	}
	.card{border: none;}
	.card-block{padding: 10px 0;}
	.video-sec {float: left; margin-top: 30px; width: 100%;}
	.video-block {float: left; margin-top: 20px; width: 100%;}
}
.action-sec{width:100%; float:left; background:#222}
.action-box{
	float:left; width:100%; text-align:center;
	h2{color:#fff; font-size:20px;}
}
section{padding: 30px 0; float: left; width: 100%;}